<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companies management</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<main>

    <div onclick="tree_toggle(arguments[0])">
        <div class="Content">Companies</div>
        <button onclick="onFormOpen(this)" class="button-add-main" type="button">
        Add main company
        </button>
        <ul id="tree-root" class="Container">

        </ul>
    </div>

</main>

<div id="template-container" class="hidden">
    <li class="Node ExpandClosed">
        <div class="Expand"></div>
        <div class="Content">
            <button onclick="onFormOpen(this)" class="button-edit" type="button">
                Edit
            </button>
            <button onclick="onFormOpen(this)" class="button-add" type="button">
                Add child
            </button>
            <button onclick="deleteCompany(this)" class="button-del" type="button">
                Delete
            </button>

        </div><!--content here-->
        <ul class="Container">
        </ul>

    </li>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel"></h4>
            </div>
            <form action="javascript:void(null);"
                  th:object="${company}"
                  id="companyForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Company name:</label>
                        <input type="text" th:field="*{name}" class="form-control"
                               maxlength="255" required=""/>
                    </div>
                    <div class="form-group">
                        <label for="estimatedEarnings">Estimated earnings</label>
                        <input type="text" th:field="*{estimatedEarnings}" class="form-control"
                               maxlength="64" required=""/>
                    </div>
                    <input type="hidden" th:field="*{parentName}" class="form-control"
                           maxlength="255" required=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit"class="btn btn-primary" value="Save changes"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/tree.js"></script>
<script src="js/data.js"></script>

</body>
</html>